* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  font-weight: 600;
}

.logo {
  display: flex;
  gap: 0.6rem;
}

.logo-image {
  display: flex;
}

.logo-image img {
  width: 20px;
  height: 20px;
}

.logo-name {
  font-weight: 900;
  font-size: large;
}

.header-heads {
  display: flex;
  gap: 1.5rem;
}

.button-one {
  font-size: 14px;
  border: none;
  padding: 7px;
  border-radius: 30px;
  width: 70px;
  cursor: pointer;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

.get-ready {
  display: grid;
  grid-template-columns: 50% 50%;
}

.get-readyimg img {
  width: 100%;
  height: 100%;
}

.get-readyp {
  width: 350px;
  justify-self: center;
  font-size: 3rem;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  color: #c9c5c5;
}

.get-readyone {
  background-color: #f8f5f5;
}

.email-button {
  justify-self: center;
  margin-top: 40px;
}

.email-button input {
  flex: 1;
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 30px;
  width: 250px;
}

.email-button button {
  padding: 10px;
  font-size: 14px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 30px;
  width: 120px;
  margin-left: -40px;
}

.boost {
  justify-self: center;
  margin-top: 80px;
  width: 350px;
  margin-bottom: 50px;
  color: #4d4b4b;
}

.say {
  margin: 20px;
}

.say h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  margin-top: 60px;
}

.sayboxes {
  justify-self: center;
  display: flex;
  margin-top: 50px;
}

.saybox-befor {
  width: 400px;
  background-color: #f8f5f5;
  margin-right: 15px;
  height: 450px;
  border-radius: 10px;
}

.saybox-after {
  width: 400px;
  background-color: #f8f5f5;
  height: 450px;
  border-radius: 10px;
}

.befor {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
  background-color: green;
  border-radius: 20px;
  padding: 7px;
  width: 60px;
  justify-self: center;
}

.check-i,
.check-ii,
.check-iii,
.check-iv,
.check-v {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  justify-self: center;
  border-radius: 5px;
}

.beforp {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  font-size: 0.9rem;
  color: #4d4b4b;
}

.after {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
  background-color: orange;
  border-radius: 20px;
  padding: 7px;
  width: 60px;
  justify-self: center;
}

.saybox-after {
  overflow: auto;
}

.boxes {
  display: flex;
}

.day-one {
  width: 300px;
  background-color: white;
  margin-right: 10px;
  height: 200px;
  border-radius: 0 10px 10px 0;
  color: #c9c5c5;
}

.day-three {
  width: 300px;
  background-color: white;
  height: 200px;
  border-radius: 10px 0 0 10px;
}

  .day-two {
  width: 450px;
  background-color: white;
  margin-right: 10px;
  height: 200px;
  border-radius: 10px;
}

.day-ten {
  background-color: #f8f5f5;
  width: 65px;
  padding: 3px;
  border-radius: 20px;
  margin-top: 20px;
}

.day-tenp {
  font-size: larger;
  font-weight: 700;
  margin-top: 30px;
}

.number-two {
  font-size: 0.8rem;
  margin-top: 50px;
}

.day-tenx {
  background-color: #0097ee;
  width: 65px;
  padding: 3px;
  border-radius: 20px;
  margin-top: 20px;
  justify-self: center;
  color: white;
  text-align: center;
}

.day-tenxp {
  font-size: larger;
  font-weight: 700;
  margin-top: 30px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.number-one {
  font-size: 0.8rem;
  margin-top: 50px;
  text-align: center;
  color: #a1a1a1;
}

.day-tenxl {
  background-color: #f8f5f5;
  width: 65px;
  padding: 3px;
  border-radius: 20px;
  margin-top: 20px;
  justify-self: right;
  font-weight: 700;
  text-align: center;
}

.day-tenxlp {
  font-size: larger;
  font-weight: 700;
  margin-top: 30px;
  text-align: right;
}

.number-three {
  font-size: 0.8rem;
  margin-top: 50px;
  text-align: right;
  color: #a1a1a1;
}

.afterp {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 75px;
  font-size: 0.9rem;
  color: #4d4b4b;
}

